<div class="info-section" id="languages_tools">
    <div class="info-section__card info-section__card-languages">
        <h1 class="info-section__card-text h1-font">{{text.title_languages}}</h1>
        <ul class="info-section__card-list">

            <li *ngFor="let language of text.languages" class="info-section__card-list-element p-font">
                {{language.name}}:&nbsp;
                <p *ngFor="let i of [].constructor(language.stars)">&#9733;</p>
            </li>

        </ul>
    </div>

    <div class="info-section__card info-section__card-competences">
        <h1 class="info-section__card-text h1-font info-section__card-text-competences">{{text.title_competences}}</h1>
        <ul class="info-section__card-list">
            <li *ngFor="let tool of text.competences"class="info-section__card-list-element p-font">
                &#8226; {{tool.name}}
            </li>

        </ul>
    </div>

    <div class="info-section__card info-section__card-programing">
        <h1 class="info-section__card-text h1-font info-section__card-text-programing">{{text.title_programing}}</h1>
        <ul class="info-section__card-list">
            <li *ngFor="let tool of text.programing"class="info-section__card-list-element p-font">
              &#8226; {{tool.name}}
            </li>

        </ul>
    </div>

    <div class="info-section__card info-section__card-frameworks">
        <h1 class="info-section__card-text h1-font info-section__card-text-frameworks">{{text.title_frameworks}}</h1>
        <ul class="info-section__card-list">
            <li *ngFor="let tool of text.frameworks"class="info-section__card-list-element p-font">
              &#8226; {{tool.name}}
            </li>

        </ul>
    </div>
</div>
