<div class="proyect-section" id="proyects">
  <!-- <app-proyect *ngFor="let proyect of text.proyects; let i = index" [title]="proyect.title" [content]="proyect.content" [img]="proyect.img_path" [img_alt]="proyect.img_alt" [btn]="proyect.btn" [id]="proyect.id" (idOut)="sendId($event)"></app-proyect> -->
  <h1 class="proyect-section-title h1-font">{{text.title_projects}}</h1>

  <div class="proyect-section-content">

    <app-proyect *ngFor="let proyect of text.proyects; let i = index" [title]="proyect.title" [content]="proyect.content"
      [img]="proyect.img_path" [img_alt]="proyect.img_alt" [btn]="proyect.btn" [id]="proyect.identifier" [file]="proyect.file" [fileText]="proyect.filetxt" [link]="proyect.link">
    </app-proyect>
  </div>
</div>
