@import "src/styles";

.proyect-section {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #f17979, #fb7f6a, #ff895a, #ff9547, #ffa332, #fdaa27, #fbb119, #f7b801, #f7b801, #f7b801, #f7b801, #f7b801);
    padding: 10rem 3rem;

    @include respond(tab-land){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // @include respond(phone){

    // }

    & > * {
      margin: 3rem;
      flex-grow: 1;

      @include respond(tab-land){
        width: 70%;
      }

      @include respond(tab-port){
        width: 80%;
      }

      @include respond(phone){
        width: 90%;
      }

    }
}
